body {
    overflow     : hidden;
    background   : #02011d;
    position     : relative;
    width        : 630px;
    height       : 450px;
    border       : 5px solid rgb(255, 0, 208);
    padding      : 20px;
    border-radius: 12px;
    margin-top   : 70px;
    left         : 15px;
    color        : aliceblue;
}

#exit {
    position: relative;
    width   : 35px;
    height  : 35px;
    left    : 600px;
    top     : -12px;
}

#run {
    position: relative;
    width   : 40px;
    height  : 40px;
    left    : 515px;
    top     : -10px;
}

#tetrisImage {
    position: relative;
    width   : 90px;
    height  : 90px;
    left    : 20px;
    top     : -160px;
}

#logo {
    position: relative;
    width   : 180px;
    height  : 130px;
    left    : 350px;
    top     : -120px;
}

h1 {
    position  : relative;
    left      : 240px;
    font-style: italic;
}

table {
    border-collapse: collapse;
    width          : 100%;
    margin         : 25px 0;
    font-size      : 0.9em;
    font           : sans-serif;
    min-width      : 400px;
    box-shadow     : 0 0 10px;
    border         : 1px solid rgb(255, 0, 208);
    position       : relative;
    top            : -170px;
}

thead tr {
    background-color: rgb(184, 49, 159);
}

th,
td {
    padding: 5px 10px;
}

tbody tr {
    border-bottom: 1px solid rgb(255, 0, 208);
    text-align   : center;
}